<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{course.title}}</title>
</head>
<body>
    <h1>{{ course.title }}</h1>
    <h3> {{course.description}}</h3>
    <h2> Lessons </h2>
    {% for lesson in lessons %}
    <ul>
        <li>
            <a href="/courses/{{course.slug}}/{{lesson.slug}}">{{lesson.title}}</a>
        </li>
    </ul>
    {% endfor %}
    
    
</body>
</html>